.page {
  padding: 22px;
  margin-top: 90px;
}

.page-title {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: 700;
}


.loc-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.loc-card {
  width: 18%;                  
  background: #e6e6e6;
  border-radius: 20px;
  overflow: hidden;
}


.loc-img {
  height: 140px;               
  background: #ccc;
}

/* MATCH TEXT PADDING */
.loc-content {
  padding: 14px;
}

.loc-name {
  margin: 0 0 6px;
  font-size: 14px;
  font-weight: 700;
  color: #222;
}

.loc-desc {
  margin: 0 0 4px;
  font-size: 12px;
  color: #666;
}

.loc-time {
  margin: 0;
  font-size: 12px;
  color: #444;
}
