.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

#showpopup {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

#user-type-button {
    display: flex;
    flex-direction: column;
}

#user-type-button button {
    margin-bottom: 10px;
    height: 40px;
}

.login-form {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

/* .login-form label {
    margin-bottom: 20px;
} */

.login-form input {
    margin-bottom: 20px;
}  